.loginsignup {
  width: 100%;
  background: #fce3fe;
  padding-top: 80px;
  padding-bottom: 80px;

}
.loginsignup-container {
  width: 500px;
  height: 580px;
  background: white;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 30px;

  padding: 15px 50px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  outline: none;
  color: #5c5c5c;
  font-size: 16px;
}

.loginsignup-container button {
  width: 400px;
  height: 65px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

/* Media Query */
@media (max-width: 1280px) {
  .loginsignup {
   
        padding-top: 60px;
   padding-bottom: 60px;
    
  }

  .loginsignup-container {
    width: auto;
    max-width: 500px;
    max-height: 580px;
  }

  .loginsignup-fields {
    gap: 15px;
    margin-top: 20px;
  }
  .loginsignup-fields input {
    height: 50px;
    width: 93%;
  }

  .loginsignup-container button {
    height: 50px;
    width: 95%;
    font-size: 16px;
  }


  .loginsignup-login {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 14px;
    gap: 10px;
  }
}

@media (max-width: 1024px){
    
    .loginsignup-container{
        width: 450px;
       height: 550px;
        padding-bottom: 20px;
    }
    .loginsignup-container button {
    height: 50px;
    font-size: 16px;
  }

}

@media (max-width: 800px) {
   
  .loginsignup-container {
   
   width: 400px;
    padding: 30px 30px;
  }
  .loginsignup-container h1 {
    font-size: 24px;
  }

  .loginsignup-fields input {
    height: 50px;
  }

  .loginsignup-container button {
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
    .loginsignup{
       padding-top: 40px;
    padding-bottom: 40px;
    }
  .loginsignup-container {
    width: 350px;
    height: 450px;
    padding: 20px 20px;

  }
   .loginsignup-container h1 {
    font-size: 20px;
  }

  .loginsignup-fields input {
    height: 35px;
  }

  .loginsignup-container button {
    height: 40px;
    width: 95%;
    font-size: 16px;
  }
  
} 